/*Estils per a HTML*/
h1{
    color: rgba(227, 137, 35, 0.986);/*Color*/
    font-family: Arial, Helvetica, sans-serif;/*Tipus de font*/
    text-align: center;/*Alineació*/
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;/*Tamany de la font*/
    padding-bottom: 15px;/*Marges*/
}
div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.number{
    width: 300px;/*Tamany*/
}
#nom{
    width: 200px;
}
